.App {
  text-align: center;
  /* background-color: rgb(12, 12, 12); */
  background-image: linear-gradient(rgb(17, 17, 17) 70%,#000);
  color: white;
}
/* ---- BACKGROUND ---- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

/* ---- HEADER / INPUT ---- */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  height: 20vh;
}
        /* -- INPUT -- */
header form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
}
.form-in{
  color: #ccc;
  background-color: #555;
  padding-left: 15px;
  height: 25px;
  width: 300px;
  outline: none;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn-in{
  color: #ccc;
  background-color: #444;
  height: 27px;
  width: 100px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
        /* -- BUTTON LAN -- */
header div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 250px;
}
/* header div h3{
  color: #ccc;
} */
.btn-lan{
  color: #ccc;
  background-color: #555;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  transition: .2s;
}
.btn-lan:hover{
  background-color: #666;
}
/* ---- 8 BALL ----*/
.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at top, #222,#000);
  height: 400px;
  width: 400px;
  border-radius: 50%;
  animation: float 4s infinite alternate-reverse;
}
.shadow-ball{
  background-image: radial-gradient(#000,rgb(10, 10, 10));
  height: 50px;
  width: 380px;
  border-radius: 50%;
  animation: shadow 4s infinite alternate-reverse;
}

/* ---- NUMBER 8 */

.number {
  /* margin-right: 300px; */
  color: #000;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle at top,#fff,#444);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transition: .5s;
}
.number h1{
  font-size: 8rem;
}
.number-rotate{
  margin-left: -50px;
  margin-right: 50px;
  width: 0px;
  transform: rotateY(90deg)
}

/* ---- RESPONSE CONTAINER ---- */

.cont-res{
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 0px;
  border-radius: 50%;
  border: 15px solid #111;
  transition: .5s;
  transform: rotateY(-90deg)
}


.cont-res-rotate{
  height: 250px;
  width: 250px;
  transform: rotateY(0deg)
}

/* ---- COLORS RESPONSE ---- */

.res-pos{
  background-image: radial-gradient(rgb(29, 85, 22),rgb(7, 14, 7));
  transition: .5s;
}
.res-med{
  background-image: radial-gradient(circle at top,rgb(196, 171, 61) 10%,rgb(44, 37, 15));
  transition: .5s;
}
.res-neg{
  background-image: radial-gradient(circle at bottom,rgb(168, 38, 38),rgb(32, 13, 13));
  transition: .5s;
}

/* --- Animations ---- */

@keyframes float{
  0%{
    margin-bottom: 30px;
  }30%{
    transform: rotate(3deg);
  }60%{
    transform: rotate(-3deg);
    margin-bottom: 0px;
  }100%{
    margin-bottom: 35px;
  }
  /* from{
    margin-bottom: 30px;
  }to{
    margin-bottom: 0px;
  } */
}
@keyframes shadow{
  0%{
    width: 360px;
  }60%{
    width: 450px;
  }100%{
    width: 360px;
  }
}